.check-box .box {
    -fx-background-color: blue;
    -fx-border-color: grey;
}

.check-box:selected .mark {
    -fx-background-color: white;
}

.check-box:selected .box {
    -fx-background-color: #28a3f4;
}